<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}" data-theme="light">
<head>
  {% include head.html %}
</head>
<body>
  {% include header.html %}
  <main class="main-content">
    <div class="container">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
  <script type="application/json" id="calc-site-settings">{{ site.data.settings.calculator | jsonify }}</script>
  {% include calculator.html %}
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/calculator.js' | relative_url }}"></script>
</body>
</html>
